{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur ma page d'accueil !</h1>

    <p>Pour accéder à certaines fonctionnalités, vous devez d'abord vous connecter :</p>

    <a href="http://econtact.test:808/index.php/login">Connexion</a>
{% endblock %}
